<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403427799342-lus0goc4m7r1hma8ec68pmgmst6sdf2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403427799342-lus0goc4m7r1hma8ec68pmgmst6sdf2n</string>
	<key>API_KEY</key>
	<string>AIzaSyDne5hUQwWFxg36oxs_xlGDN9kyoGUAD9U</string>
	<key>GCM_SENDER_ID</key>
	<string>403427799342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.celesteanddanielle.FlexEat</string>
	<key>PROJECT_ID</key>
	<string>flexeat-yeet</string>
	<key>STORAGE_BUCKET</key>
	<string>flexeat-yeet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403427799342:ios:e49876cb08b923365c0abf</string>
	<key>DATABASE_URL</key>
	<string>https://flexeat-yeet.firebaseio.com</string>
</dict>
</plist>